#user-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 10px;
}
.userInfoContainer {
  height: 250px;
  background-color: rgb(186, 187, 233);
}
.itemHeader {
  text-align: center;
  width: 100%;

  color: white;
}
.itemListElement {
  width: 100%;
  height: 60%;
  margin-bottom: 40px;
}
.ItemContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.homePageContainer {
  width: 100%;
  background-color: rgb(104, 105, 184);
}

.homePage {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1550px;
  height: 1000px;
  width: 100%;
}
.homePageInfo {
  width: 100%;
}

.listItems {
  padding-right: 20px;
}
