.userAlbumElement {
  background-color: rgb(186, 187, 233);
  padding-right: 25px;
}

.homePageContainer {
  width: 100%;
  background-color: rgb(104, 105, 184);
}

.homePage {
  align-items: center;
  margin: auto;
  max-width: 1550px;
  padding: 20px;

  background-color: rgb(104, 105, 184);
}
.homePageInfo {
  width: 100%;
  text-align: center;
}
a {
  color: rgb(0, 0, 0);
}
.userName {
  font-size: 20px;
}
.userAlbumList {
  text-align: left;
  margin: auto;
}
#mainDiv {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
