body {
  margin: 0px;
}
#photos {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.homePageContainer {
  width: 100%;

  background-color: rgb(104, 105, 184);
}

.homePage {
  align-items: center;
  margin: auto;
  padding-top: 70px;
  max-width: 1500px;

  height: 1000px;
  background-color: rgb(104, 105, 184);
  width: 100%;
}
.homePageInfo {
  width: 100%;
  text-align: center;
  line-height: 100px;
}
